@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, black --prefersdark;
};
@plugin "daisyui/theme" {
  name: "black";
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
};